<!DOCTYPE html>
<html>

<body>
    <h2>Library Database Management</h2>
    <form method="post" action="{{ url('add_book', true) }}">
        <div class="col-sm-8">
            <label for="title">Title</label>
            <input id="title" class="form-control input-sm" type="text"
                   placeholder="Enter title of the book" value="{{ title }}">
            <label for="image">Image</label>
            <input id="image" class="form-control input-sm" type="text"
                   placeholder="Enter image of the book" value="{{ image }}">
            <label for="theme">Theme</label>
            <input id="theme" class="form-control input-sm" type="text"
                   placeholder="Enter theme of the book" value="{{ theme }}">
            <label for="author">Author</label>
            <input id="author" class="form-control input-sm" type="text"
                   placeholder="Enter author of the book" value="{{ author }}">
            <label for="synopsis">Synopsis</label>
            <input id="synopsis" class="form-control input-sm" type="text"
                   placeholder="Enter synopsis of the book" value="{{ synopsis }}">
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-info btn-xs" id="add_book_action">Add a new book</button>
        </div>
    </form>
</body>

</html>
